<%= form_for(current_user, url: relationships_path, method: :post, remote: true) do |f| %>
  <%= hidden_field_tag :following_id, @user.id %>
  <div class="follow___btn">
  <%= f.submit "フォローする", class: "follow__btn" %>
  </div>
<% end %>
